
*{
  margin: 0;
  padding: 0;

}

.App{
  display: flex;
}

.Nav__Left{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 13%;
}

.Nav__Left__span{
  display: flex;
  margin-top: 30px;
  margin-right: 12px;
}
.btn{
  width: 30px;
  height: 30px;
  background-color:#5E81F4;
  color: rgb(255, 255, 255);
  border-radius: 9px;
 border: none;
}
.Nav__Left__Title{
  color:#5E81F4;

  margin-left: 14px;
  margin-bottom: 30px;

}
.btn__Join{
  background-color: #5E81F4;
  color: #FFFFFF;
  border: none;
  border-radius: 9px;
  width: 90px;
  height: 40px;
}



.Nav__Left__Bottom{
  margin-top: 45px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:#F5F5FB;
  width: 160px;
  height: 120px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 60px;
  margin-top: -70px;
}

.btn__Join__two{
  background-color: #5E81F4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 60px;
  margin-top: 12px;
}

.text__{
  margin-left: 15px;
  color: lightslategrey;

}
.icons{
color:lightslategrey;
}

.Nav__Left__span:hover .icons{
  color: #5E81F4;
  cursor: pointer;
}

.Nav__Left__span:hover .text__{
  color: black;
  cursor: pointer;
}





/* Nav middle */
.Nav__middle{
  background-color:#dce0e1 ;
  width: 60%;
}

.Nav__middle__header{
  display: flex;
  justify-content:space-between;
  margin-top: 30px;
}

.Nav__middle__header >input{
 border: none;
 margin-left: 30px;
 width: 200px;
 border-radius: 6px;
}

.Nav__middle__Menu__Ongoing:hover{
color: #5E81F4;
cursor: pointer;
}


.Nav__middle__Menu__Favorite:hover{
color: #5E81F4;
cursor: pointer;
}

.Nav__middle__Menu__Ongoing:hover{
  color: #5E81F4;
  cursor: pointer;
  }

  .Nav__middle__Menu__Complete:hover{
    color: #5E81F4;
    cursor: pointer;
  }


.Nav__middle__header__icon{
  margin-right: 20px;
  color:grey;
}
 

.Nav__middle_course{
  display: flex;
  justify-content: space-around;
}

.Nav__middle__Menu{
  display: flex;
  justify-content: space-between;
}

h5{
  margin-right: 20px;
}

.Nav__middle__img{
  background-image: url('https://images.pexels.com/photos/157811/pexels-photo-157811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 width:80%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height:270px;
  border-radius: 20px;

}
.Nav__middle__img__header{
  display: flex;
  justify-content: space-between;
}

.Nav__middle__img_Two{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  justify-content: space-around;
  
}

.Nav__middle__img__two__one{
  background-image: url("https://www.dhresource.com/0x0/f2/albu/g12/M01/06/90/rBVakV8uHC2ACi8mAARyjCN-jTM435.jpg");
  width: 250px;
  height: 225px;
  border-radius: 12px;
}


.Nav__middle__img__two__two{
  background-image: url("https://previews.123rf.com/images/tankist276/tankist2761208/tankist276120800071/15182861-still-life-of-big-heap-multi-coloured-fruits-square-background.jpg");
  width: 250px;
  height: 225px;
  border-radius: 12px;
}





/* Nav right --------------->*/


.Nav__right{
  margin-top: 60px;
  margin-left:100px;
}

.Nav__right__top{
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}

.Nav__right__image{
  margin-top: 2px;
  width: 30px;
  height: 40px;
}

.Nav__right__name{
  margin-left: 12px;
  margin-top: 12px;
  font-size: small;
  color: black;
}


.Nav__right__Progress{
  margin-top: 25px;
}



.Progress__menu{
  margin-top: 12px;
  display: flex;
  justify-content: center;
 
}

.progress__menu__icon{
  width: 30px;
  height: fit-content;
  color: #5E81F4;
  background-color:#ccc;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: 2px;
  margin-right: 12px;
  margin-top: 7px;
}

.progress__menu__title h5,small{
  margin-left: 9px;
}


.progress__Loader__out{
 width: 70px;
 height: 8px;
 background-color:#ccc;
 border-radius: 3px;
 margin-top: 12px;
 border-radius: 10px;
}

.progress__Loader__in{
  width: 50px;
  height: 8px;
  background-color:  #5E81F4;
  border-radius: 10px;
}


.Upcoming__tasks{
  margin-top: 20px;
}



.Upcoming__task__one{
  margin-top: 14px;
  display: flex;
}

.Upcoming__tasks__topic{
  margin-left:13px;
}
.Upcoming__tasks__topic >small{
  margin-left:0px
}
